@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="nl">
<head>
    <title>NietPathe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css"/>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div>
        Hello World
    </div>
    <div id="root"></div>
    <script src="~/js/react-runtime-main.js"></script>
    <script src="~/js/react-number-chunk.js"></script>
    <script src="~/js/react-main-chunk.js"></script>
</body>
</html>