#performance {
  padding-top: 50px;
  display: flex;
  flex-direction: column; }
  #performance #hall {
    width: 1100px;
    height: 750px;
    margin: auto;
    border: 2px solid;
    position: relative;
    background-color: lightcoral; }
    @media (max-width: 467px) {
      #performance #hall {
        width: 300px;
        height: 250px; } }
    @media (min-width: 467px) and (max-width: 800px) {
      #performance #hall {
        width: 440px;
        height: 370px; } }
    @media (min-width: 800px) and (max-width: 1200px) {
      #performance #hall {
        width: 700px;
        height: 550px; } }
    #performance #hall #screen {
      width: 50%;
      height: 40px;
      border: white solid;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    #performance #hall #rows-holder {
      margin: auto;
      width: 80%;
      height: 70%; }
      #performance #hall #rows-holder .row-chairs {
        display: flex; }
        #performance #hall #rows-holder .row-chairs.row-of-four {
          height: calc(100% / 4);
          justify-content: center; }
          #performance #hall #rows-holder .row-chairs.row-of-four .chair {
            margin: 0; }
        #performance #hall #rows-holder .row-chairs.row-of-six {
          height: calc(100% / 6); }
        #performance #hall #rows-holder .row-chairs.row-of-eight {
          height: calc(100% / 8); }
        #performance #hall #rows-holder .row-chairs .chair {
          width: calc(100% / 15);
          margin: auto;
          display: flex;
          justify-content: center;
          border: 1px solid;
          color: mintcream;
          height: 80%; }
          #performance #hall #rows-holder .row-chairs .chair.chair-of-ten {
            max-width: calc(100% / 10); }
          #performance #hall #rows-holder .row-chairs .chair.available {
            background-color: green; }
          #performance #hall #rows-holder .row-chairs .chair.unavailable {
            background-color: crimson;
            position: relative; }
            #performance #hall #rows-holder .row-chairs .chair.unavailable .cancel {
              position: absolute;
              top: -50px;
              border: black solid 1px;
              border-radius: 5px 5px 5px 5px;
              background-color: gainsboro;
              pointer-events: none;
              display: flex; }
              #performance #hall #rows-holder .row-chairs .chair.unavailable .cancel button {
                pointer-events: initial; }
          #performance #hall #rows-holder .row-chairs .chair.selected {
            background-color: blue; }
          #performance #hall #rows-holder .row-chairs .chair:hover {
            background-color: lightblue;
            cursor: pointer; }
  #performance #mobile-chair-selector {
    display: flex;
    justify-content: center; }
  #performance #info-and-purchase-display {
    padding-top: 50px; }
    @media (max-width: 467px) {
      #performance #info-and-purchase-display {
        padding-top: 15px; } }

#purchase {
  background-color: #f7faff;
  padding: 15px;
  border-radius: 15px;
  flex-direction: column;
  font-family: Bitter; }
  #purchase .title-list {
    position: relative; }
    #purchase .title-list .circle {
      top: 0;
      position: absolute;
      right: 10px; }
  #purchase h1 {
    border-bottom: 1px solid;
    text-align: center; }
  #purchase select {
    width: 250px;
    height: 36px;
    border: solid 2px gainsboro;
    background-color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    -moz-border-radius: 0px;
    padding-left: 15px; }
  #purchase label {
    font-family: Bitter;
    font-size: 20px;
    float: right;
    padding-right: 15px;
    font-weight: 700;
    text-align: right; }
  #purchase .inputbox {
    height: 44px;
    width: 100%;
    border: gainsboro solid 2px;
    text-align: right;
    font-family: Rubik;
    font-size: 22px;
    color: deeppink;
    padding-right: 15px; }
  #purchase ul li:only-child {
    padding: 5px 0px 5px 0px; }
  #purchase ul li:first-child {
    padding: 5px 0px 2.5px 0px; }
  #purchase ul li {
    padding: 2.5px 0px 2.5px 0px; }
    #purchase ul li .order-row {
      border: solid black;
      border-width: 0 3px 3px 0;
      padding: 3px;
      transform: rotate(45deg);
      position: relative;
      float: right;
      top: 12px;
      right: 20px;
      pointer-events: none; }
    #purchase ul li.price-selector {
      display: flex;
      position: relative;
      justify-content: space-between; }
  #purchase ul li:last-child {
    padding: 2.5px 0px 5px 0px; }
  #purchase ul .price-tag {
    top: 5px;
    right: 10px;
    position: relative; }
  #purchase .line-holder {
    width: 100%;
    height: 1px; }
    #purchase .line-holder .total-line {
      float: right;
      width: 25%;
      border-top: 1px solid; }
  #purchase .total-price {
    float: right; }
    #purchase .total-price .price {
      padding: 5px 10px 5px; }
  @media (max-width: 467px) {
    #purchase label {
      font-size: 12px; } }
  @media (min-width: 467px) and (max-width: 800px) {
    #purchase label {
      font-size: 16px; } }
  @media (min-width: 800px) and (max-width: 1200px) {
    #purchase label {
      font-size: 18px; } }

.pagination {
  justify-content: center; }

table.with-hover tbody tr:hover {
  background-color: lightblue;
  cursor: pointer; }

.window .title-holder {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center; }
  .window .title-holder div:first-child {
    margin: 25px 0px;
    display: flex;
    justify-content: space-between; }
  .window .title-holder div:nth-child(2) {
    background: red; }
  .window .title-holder div:last-child {
    background: black; }

.window .poster {
  padding: 15px;
  cursor: pointer; }
  .window .poster img {
    border: 5px white solid;
    width: 100%;
    height: auto; }

.window .icon {
  height: 100px;
  display: flex;
  position: relative; }
  .window .icon img {
    width: 100px;
    height: 100%; }

.window ul {
  list-style: none; }
  .window ul li {
    border: 5px solid red;
    background: darkred;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px;
    margin-top: 15px;
    height: 80px; }
    .window ul li a {
      width: 100%;
      text-align: center;
      color: white;
      position: relative; }
      .window ul li a .dwrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 5px; }
        .window ul li a .dwrapper .d {
          color: white;
          background: red;
          display: flex;
          width: calc(100% - 20px);
          justify-content: center; }

.navigation-holder {
  height: 150px;
  display: flex;
  justify-content: space-around;
  font-size: 48px; }
  .navigation-holder a {
    height: 100px;
    width: 200px;
    margin: auto;
    color: red;
    background: transparent;
    border: red solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .navigation-holder a:hover {
      color: yellow;
      border: yellow solid; }

#secure {
  position: relative;
  top: 100px; }
  #secure .table-responsive {
    background: white; }
  #secure .fixed-pagination {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center; }
  #secure .date-holder {
    margin-top: auto;
    display: flex;
    margin-bottom: auto;
    width: 200px;
    justify-content: space-around;
    color: white; }
    #secure .date-holder input {
      width: 120px;
      text-align: center; }
  #secure .padding-around {
    padding: 15px 0 15px 0; }

html {
  background: url(../assets/bg3.jpg);
  background-attachment: fixed;
  background-size: cover; }

body {
  background-color: transparent;
  color: #6F6D6E; }
  body .flex {
    display: flex; }
  body .flex-wrap {
    display: flex;
    flex-wrap: wrap; }
  body .p-b-15 {
    padding-bottom: 15px; }
  body .d-i-b {
    display: inline-block; }
  body .w-100 {
    width: 100%; }
  body .w-800px {
    width: 800px; }
  body .w-1200px {
    width: 1200px; }
  body .circle {
    width: 25px;
    border: 1px solid;
    border-radius: 90px;
    height: 25px;
    padding-left: 8px;
    cursor: pointer; }
  body .error {
    border: 3px red solid !important; }
  body ul {
    padding-left: 0;
    list-style-type: none; }
  body text-area {
    resize: both; }
  body .modal {
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    display: flex; }
    body .modal .modal-body {
      display: flex;
      justify-content: center; }
      body .modal .modal-body div {
        position: absolute;
        top: 40%;
        color: white;
        text-shadow: 2px 2px 2px black; }
      body .modal .modal-body .btn {
        height: 40px;
        align-self: center; }
  body .margin-bottom-150 {
    margin-bottom: 150px; }
  body nav.nav-secure {
    position: fixed;
    z-index: 100;
    width: 100%; }
  body .white-text {
    color: white; }
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body .loader {
    position: relative;
    width: 128px;
    height: 128px;
    align-items: center;
    display: flex;
    justify-content: center;
}

    body .loader div {
        display: inline-block;
        left: 6px;
        width: 13px;
        background: #fff;
        animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        body .loader div:nth-child(1) {
            left: 6px;
            animation-delay: -0.24s;
        }

        body .loader div:nth-child(2) {
            left: 26px;
            animation-delay: -0.12s;
            margin: 0px 5px 0px 5px;
        }

        body .loader div:nth-child(3) {
            left: 45px;
            animation-delay: 0;
        }

@keyframes loader {
  0% {
    top: 6px;
    height: 51px; }
  50%, 100% {
    top: 19px;
    height: 26px; } }
