.window {
    .title-holder {
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;

        div:first-child {
            margin: 25px 0px;
            display: flex;
            justify-content: space-between;
        }

        div:nth-child(2) {
            background: red;
        }

        div:last-child {
            background: black;
        }
    }

    .poster {
        padding: 15px;
        cursor: pointer;

        img {
            border: 5px white solid;
            width: 100%;
            height: auto;
        }
    }

    .icon {
        height: 100px;
        display: flex;
        position: relative;

        img {
            width: 100px;
            height: 100%;
        }
    }
}

.navigation-holder {
    height: 150px;
    display: flex;
    justify-content: space-around;
    font-size: 48px;

    a {
        height: 100px;
        width: 200px;
        margin: auto;
        color: red;
        background: transparent;
        border: red solid;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        &:hover {
            color: yellow;
            border: yellow solid;
        }
    }
}