@import "variables.scss";
@import "performance.scss";
@import "purchase";
@import "movies";
@import "review";
@import "window";
@import "secure";

html {
    background: url(../assets/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body {
    background-color: transparent;
    color: $gray;

    .flex {
        display: flex;
    }

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .p-b-15 {
        padding-bottom: 15px;
    }

    .d-i-b {
        display: inline-block;
    }

    .w-100 {
        width: 100%;
    }

    .w-800px {
        width: 800px;
    }

    .w-1200px {
        width: 1200px;
    }

    .circle {
        width: 25px;
        border: 1px solid;
        border-radius: 90px;
        height: 25px;
        padding-left: 8px;
        cursor: pointer;
    }

    .error {
        border: 3px red solid !important;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
    }

    text-area {
        resize: both;
    }


    .modal {
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: center;
        display: flex;

        .modal-body {
            display: flex;
            justify-content: center;

            div {
                position: absolute;
                top: 40%;
                color: white;
                text-shadow: 2px 2px 2px black;
            }

            .btn {
                height: 40px;
                align-self: center;
            }
        }
    }

    .margin-bottom-150 {
        margin-bottom: 150px;
    }

    nav {
        &.nav-secure {
            position: fixed;
            z-index: 100;
            width: 100%;
        }
    }

    .white-text {
        color: white;
    }

    .loader-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 500;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;


        .loader {
            position: relative;
            width: 128px;
            height: 128px;
            align-items: center;
            display: flex;
            justify-content: center;

            div {
                display: inline-block;
                left: 6px;
                width: 13px;
                background: #fff;
                animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            }

            div:nth-child(1) {
                left: 6px;
                animation-delay: -0.24s;
            }

            div:nth-child(2) {
                left: 26px;
                animation-delay: -0.12s;
                margin: 0px 5px 0px 5px;
            }

            div:nth-child(3) {
                left: 45px;
                animation-delay: 0;
            }
        }
    }

    @keyframes loader {
        0% {
            top: 6px;
            height: 51px;
        }

        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }
}
