@import "variables.scss";
@import "performance.scss";
@import "purchase";
@import "movies";
@import "review";

body {
    background-color: $darkred;
    color: $gray;

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .p-b-15 {
        padding-bottom: 15px;
    }

    .d-i-b {
        display: inline-block;
    }

    .w-100 {
        width: 100%;
    }

    .w-800px {
        width: 800px;
    }

    .w-1200px {
        width: 1200px;
    }

    .circle {
        width: 25px;
        border: 1px solid;
        border-radius: 90px;
        height: 25px;
        padding-left: 8px;
        cursor: pointer;
    }

    .error {
        border: 3px red solid !important;
    }

    ul {
        padding-left: 0;
        list-style-type: none;
    }

    text-area {
        resize: both;
    }
}
