<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2670ecb1-7e1a-4b6e-93be-3c426b60ca2c/resourceGroups/NietPathe/providers/Microsoft.Web/sites/NietPathe</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://nietpathe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>nietpathe.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NietPathe</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NietPathe</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>