<!DOCTYPE html>
<html lang="nl">
<head>
    <title>NietPathe - @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    @RenderBody()
    <div id="root"></div>
    <script src="~/js/react-runtime-main.js"></script>
    <script src="~/js/react-number-chunk.js"></script>
    <script src="~/js/react-main-chunk.js"></script>
</body>
</html>